@model Trainee
@{
    ViewData["Title"] = "ShowResult";
}

<h1>ShowResult</h1>

<h3><strong>Trainee Name : </strong>@Model.Name</h3>
<h3><strong>Course result : </strong>@ViewBag.CourseResult.Degree</h3>
